# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
env/
build/
dist/

# Entorno / secretos
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Pruebas
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
